.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #813a00;
    padding: 1em;
}

.navbar img{
    width: 50px;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: #FFF;
    text-decoration: none;
}

.item a:hover{
    color:#d0d0d0;
}